.afterCarBlock {
  margin: auto, 0;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.afterCarBlock_1 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 130px;
  color: #7ea0ff;
}
.afterCarBlock_2 {
  padding-top: 20px;
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #00095e;
}

@media only screen and (min-width: 520px) and (max-width: 767px){
  .afterCarBlock_1 {
    font-size: 16px;
  }
  .afterCarBlock_2 {
    font-size: 35px;
  }
}
