.slick-slider button {
  display: none !important;
}

.carousel_Card {
  margin-top: 50px;
  height: 390px;
  padding-left: 40px;
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.5s ease;
}

.carousel_Img {
  padding-top: 15px;
  height: 250px;
  width: 360px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.carousel_Card_Textarea {
  padding: 30px 20px 30px 23px;
  width: 360px;
}
.carousel_Card_Country {
  display: flex;
  justify-content: space-between;
}
.carousel_Country {
  font-family: "Josefin Sans", sans-serif;
  color: #00095e;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px;
}
.price {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #7ea0ff;
}
.card_Date {
  padding: 9px 15px;
  margin: 0 13px 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #7ea0ff0d;
  color: #7ea0ff;
  border-radius: 30px;
}
.card_Days {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #00095e;
  margin-top: 15px;
}

.carousel_Card:hover .carousel_Img {
  transform: scale(1.1);
}

.carousel_Card:hover .carousel_Card_Country {
  transform: scale(1.2);
}
@media only screen and (min-width: 520px) and (max-width: 767px) {
  .carousel_Card {
    width: 90%;
    height: 30%;
    padding: auto;
    padding-left: 10%;
  }

  .carousel_Img {
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 318px;
    height: auto;
    padding-top: 15px;
  }
}
