@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
.contactRow {
  margin-top: 60px;
  height: 700px;
}

.contact_Form_col {
  display: flex;
  justify-content: space-around;
}

.form-Textarea-control {
  height: 190px;
  width: 770px;
  border: 1px solid black;
  margin-bottom: 32px;
}

.input_area-6sm {
  display: flex;
  justify-content: space-between;
  width: 770px;
  margin-bottom: 32px;
}
.form-control-input {
  width: 370px;
  height: 48px;
  border: 1px solid black;
}

.form-control-lgInput {
  width: 770px;
  height: 48px;
  border: 1px solid black;
  margin-bottom: 46px;
}
.button-contactForm {
  height: 59px;
  width: 141px;
  background-color: white;
  color: #7EA0FF;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid #7EA0FF;
  font-size: 13px;
  letter-spacing: 3px;
  font-family: 'Josefin Sans',sans-serif;

}

.button-contactForm:hover {
  background-color: #7EA0FF;
  color: white;
}

.contact-info__icon {
  display: block;
}


.contact-title-area{
  margin-left: 100px;
}

.contact-title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 27px;
  color: #00095e;
  font-weight: 600;
  line-height: 32px;
}
.form-Textarea-control{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 25px;

}
.form-control-input, .form-control-lgInput {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  padding-left: 7px;
}

.media-body h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2A2A2A;
  line-height: 22px;
}

.media-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#8A8A8A;
  font-weight: 500;
  padding-top: 3px;

}
.media-body {
  margin-top: 15px;
  padding-bottom: 20px;
}